.App {
  position: relative;
  min-height: 100vh;
}


.home-container {
  padding: 20px;
  filter: brightness(100%) saturate(120%);
 
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.video-background video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.content {
  padding: 50px;
  background-color: white;
  margin: 0 auto;
  max-width: 800px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  
}

.logo-image {
  width: 4rem;
  height: 3rem;
  margin-right: 0.1rem;
}

.navbar-links {
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  height: 100%;
  border-radius: 50px 0px;
}

.navbar-links>.nav {
  margin: 0px;
}

.transparent-button {
  background-color: transparent !important;
  border: 1px solid transparent !important;
  color: white !important;
  margin: 0 10px;
}

.transparent-button:hover {
  background-color: white !important;
  color: rgb(3, 3, 14) !important;
  border-radius: 30px 0px;
}






.headpad {
  padding-top: 50px;
}

.company-name {
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  color: #fff;
  font-size: 24px;
  margin-right: 10px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.social-icons a:hover {
  transform: scale(1.2);
}

.social-icons i {
  margin-right: 5px;
}









@media (max-width: 768px) {
  .company-name {
    font-size: 20px;
  }



  .footer-info h4 {
    font-size: 16px;
  }
}


.card:hover {
  transform: scale(1.1);
  z-index: 1;
}

.card {
  transition: all 0.1s ease;
}


.curved-image-container {
  position: relative;

}

.curved-image {
  border-radius: 20px;
  border: 5px solid #fff;
  /* Replace #fff with the desired color */
}

.curved-image-container:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 50%;
  border: 5px solid #000;
  /* Replace #000 with the desired color */
  z-index: -1;
  transform: scale(0.1);
  z-index: 1;
  transition: all 0.1s ease;
}

.curved-image:hover {
  transform: scale(1.1);
  z-index: 1;
  transition: all 0.3s ease;

}

.cardplay {
  --bs-bg-opacity: 1;
  background-color: black !important;
  /* set the background color to black */
  color: #fff !important;
  /* set the text color to white */
}

.social-icons-container i {
  font-size: 30px;
  /* Change this value to make the icons bigger or smaller */
}

@media (min-width: 768px) {
  .carousel {
    max-width: 80%;

    margin: 0 auto;
  }
}

.video-background {
  background-image: url('secondot.png');
  background-color: #000;
  /* Replace with your desired background color */
}


.navbar.expanded {
  background-color: black;
}




.contact-info i {
  color: #f8f5f5;
  font-size: 30px;
  margin-bottom: 15px;
}



/* Default styles for the carousel caption */
.carousel-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.5rem;
  color: #fff;
  text-align: center;
}

/* Styles for larger screens */
@media (min-width: 768px) {
  .carousel-caption {
    font-size: 2rem;
  }
}

/* Styles for smaller screens */
@media (max-width: 767px) {
  .carousel-caption {
    font-size: 0.4rem;
  }
}


.service-box {


  border-radius: 25px 0px;
  padding: 20px;
  margin-bottom: 30px;
  height: 300px;
}

.service-box h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #f6f8fa;
}

.service-box p {
  font-size: 18px;
  line-height: 1.5;
  color: #f7f9fa;
}

.service-img {
  max-width: 100%;
  max-height: 90%;
  display: block;
  margin: auto;
  border-radius: 10px;
  
}


/* Add this to the end of your CSS file */
@media (max-width: 767px) {
  .service-box {
    margin-bottom: 10px; /* decrease the margin between service boxes */
  }

  .service-box h2 {
    font-size: 20px; /* decrease the font size of the heading */
    margin-bottom: 10px;
  }

  .service-box p {
    font-size: 16px; /* decrease the font size of the paragraph */
  }

  .service-img {
    max-height: 80%; /* decrease the max-height of the image */
    margin-top: 15%;
  }
}


.conboxmake {
  background-color: rgba(255, 255, 255, 0.4);
  color: #f5f5f7;
}



.animate-slide-in {
  animation-duration: 1s;

}

.animate-slide-in-left {
  animation-name: slide-in-left-sm;
}

.animate-slide-in-right {
  animation-name: slide-in-right-sm;
}

@keyframes slide-in-left-sm {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slide-in-right-sm {
  from {
    transform: translateX(50%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.cradelvideo {
  display: flex;
  justify-content: center;
  align-items: center;

}

.cradelvideo video {
  width: 100%;
  height: auto;
  display: block;
  max-width: 800px;
  /* set a maximum width for the video */
  border-radius: 10px;
}

@media (max-width: 767px) {
  .bottomfootof {
  padding-bottom: 120%; /* add extra padding at the bottom of the body */
  }
  }
